
SUBMIT_URL=http://rs.angara.net/meteo/_in
SUBMIT_USER=test
SUBMIT_PASS=test

WIFI=0
# WIFI_SSID=ssid
# WIFI_PASS=wifi_pass

GPRS=1
# GPRS_APN=internet.tele2.ru

# HWID = None  # use machine.unique_id() instead

READ_TEMP=1
READ_WIND=1
